<h1>Staff List</h1>

<%= link_to "Start Shift", new_waitstaff_path %>

<% @waitstaffs.each do |staff| %>
  <h2><%= staff.name %></h2>
  <%if staff.tables.length > 0%>
    <h4>Serving:</h4>
    <ul>
      <%staff.tables.each do |t|%>
        <li>Table <%= t.table_number %></li>
      <% end %>
    </ul>

  <%else%>
    <h4><%= link_to "End Shift", waitstaff_path(staff), method: :delete %></h4>
  <% end %>

<% end %>
