<header>
  <ul>
    <li><%= link_to "Home", profile_path%></li>
    <li><%= link_to "Log In", log_in_path %></li>
    <li><%= link_to "Menu", food_items_path %></li>
  </ul>
</header>

<h1>RESTaurant Tracker</h1>
