<h1>Here's all the parties</h1>

<%= link_to "Add a new customer", new_customer_path %>

<% @customers.each do |customer| %>
  <h2><%= link_to( customer.table_number, customer_path(customer.id) ) %></h2>

  <p>Party Size: <%= customer.party_size%></p>

<% end %>
